<%- include('parts/header')%>
<%- include('parts/navbar')%>

<div class='container'>
    <h1 class="on mt-2">Online Friends</h1>
    <div id="onlineFriends">
        
    </div>
</div>


<%- include('parts/scripts')%>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/sockets/init.js"></script>
<script src="/js/sockets/home.js"></script>

</body>
</html>